#welcome {
  color: #A2BFCE;
  padding-left: 130px;
  font-family: "Arial";
}

#mainContent {
  background-color: #A2BFCE;
  border-radius: 4px;
  padding: 10px;
  width: 600px;
  height: 300px;
  overflow: hidden; 
}

.cloud {
  position: absolute;
}

#bigCloud {
  animation: bobble 2s infinite;
  margin-left: 100px;
  margin-top: 15px;
  height: 154px;
  width: 238px;
}

@keyframes bobble {
  0%{
    transform: translate3d(50px, 40px, 0px);
    animation-timing-function: ease-in;
  }

  50%{
    transform: translate3d(50px, 50px, 0px);
    animation-timing-function: ease-out;
  }

  100%{
    transform: translate3d(50px, 40px, 0px);
  }
}